modules = ["nodejs-20", "web"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Next.js App"

[[workflows.workflow]]
name = "Next.js App"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- -p 5000 -H 0.0.0.0"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["pnpm", "run", "start"]
build = ["pnpm", "run", "build"]

[userenv]

[userenv.shared]
SUPABASE_DB_URL = "postgresql://postgres.pcqteeblywfqlrbnqrjd:Su!Tami0706@aws-0-sa-east-1.pooler.supabase.com:6543/postgres"
JWT_SECRET = "fllymoTXSBubeScKu50TYMdf7Q+ej1Sk6hT2q0zoCX8="
